* {
    background-color: white;
    position:relative;
}

.container-fluid{
    height:20vh;
}

.headerRow {
    margin:0;
    color:white;
    font-weight: bold;
}

#header h1 {
    font-size: 60px;
}

#header p {
 font-size: 40px;
}

.mainContent {
    min-height:70vh;
}

#image {
    width:100%;
}

#submitButton {
    font-weight:bold;
    color:dodgerblue
}

#Character {
    padding: 0;
}

#footer{
    height:10vh;
    text-align: center;
    background-color:dodgerblue;
    color:white
}

.page-footer img {
    width: 30px;
    height: auto;
}

.jumbotron {
    background-image: url('../img/emo.jpg');
    background-size: cover;
    min-height: 190px;
}

#header {
    padding: 0;
}

.headerRow{
    background-color:transparent;
}

